<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.QLSV_v2ConnectionString"
            connectionString="Data Source=DAT-LAPTOP\SQLEXPRESS;Initial Catalog=QLSV_v2;Persist Security Info=True;User ID=dat;Password=tuongdatta_2005;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.QuanLySinhVienDBConnectionString"
            connectionString="Data Source=DAT-LAPTOP\SQLEXPRESS;Initial Catalog=QuanLySinhVienDB;Persist Security Info=True;User ID=dat;Password=tuongdatta_2005;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>